html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.header{
    position: absolute;
    width: 1351px;
    height: 253px;
    background-color:rgb(49,72,91);
}
.header-flower{
    position:relative;
    top: 50px;
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}
.head-free{
    position: absolute;
    width: 64px;
    height: 48px;
    left: 747px;
    top: 87px;
}
.header-h1{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
    width: 164px;
    color: white;
}
.header-line{
    position: relative;
    width: 164px;
    height: 2px;
    margin-left: auto;
    margin-right:auto ;
   background-color: rgb(60,85,105);
}
.header-h4{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 164px;
    color: white;
}
.navigation{
    position: absolute;
    width:1089px;
    height: 52px;
    border-radius: 5px;
    top: 294px;
    /*margin-left: 0px;*/
    /*margin-right: 0px;*/
    margin-left: 135px;
    background-color: rgb(60,85,105);
}
.navigation-img{
    position: relative;
    float: left;
    width:62px ;
    height: 52px;
}
a:link,a:visited{
    text-decoration: none;
    color: white;
    font-size: large;
}
ul{
    position: relative;
    float: left;
    display: block;
}
li{
    margin-left: 10px;
    margin-right: 90px;
    list-style: none;
    text-align: center;
    display: inline;
}
.navigation-other{
    width: 52px;
    height: 52px;
    position: relative;
    float: right;
}
.swiper-container {
    position: absolute;
    top: 400px;
    width: 1085px;
    height: 400px;
    margin-left:135px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;

    /*background: #fff;*/
    background-image: url("../picture/v5-1/background.jpg");
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.ss{
    position: absolute;
    width: 100%;
    height: 100%;
}
.ss img{
    position: absolute;
    left: 502px;
    top: 100px;
}
.swiper-line{
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: white;
    top: 196px;
    left: 414px;
}
.swiper-line2{
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: white;
    top: 196px;
    left: 556px;
}
.btn{
    position: absolute;
    top: 900px;
    width:1089px;
    left: 135px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
}
.btn-1{
    position: relative;
    margin: 41px 36px;
    height: 145px;
}
.btn-1-1{
    border-radius: 5px;
    text-align: center;
    position: relative;
    float: left;
    width: 138px;
    height: 36px;
    margin: 0 55px 20px 57px;
    border:none;
}
.btn-1-1 p{
    color: white;
}
#btn1{
    background-color: rgb(156,191,62);
}
#btn2{
    background-color: rgb(239,135,66);
}
#btn3{
    background-color: rgb(191,79,121);
}
#btn4{
    background-color: rgb(136,105,202);
}
#btn5{
    background-color: rgb(156,191,62);
}
#btn6{
    background-color: rgb(241,150,89);
}
#btn7{
    background-color: rgb(199,100,137);
}
#btn8{
    background-color: rgb(150,123,208);
}
#btn9{
    background-color: rgb(174,196,116);
}
#btn10{
    background-color: rgb(215,111,49);
}
#btn11{
    background-color: rgb(165,64,102);
}
#btn12{
    background-color: rgb(117,87,180);
}
.btn-2{
    position: relative;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    height: 273px;
}
.btn-2-1{
    position: relative;
    float: left;
    width: 55%;
    height: 70%;
}
.btn-2-1-1{
    font-size: large;
    position: relative;
    height: 22px;
    width: 50%;
    float: left;
    margin-bottom: 10px;
}
.btn-2-1-1 input{
    color: #007aff;
    width: 20px;
    height: 15px;
    margin: 0px;
}
#input1,#input2,#input3,#input4{
    color: rgb(215,215,215);
}
#input9,#input10{
    color: rgb(27,184,105);
}
#check5{
    -webkit-appearance:none;
    background-image: url("../picture/v5-1/勾.jpg");
}
#radio5{
    -webkit-appearance:none;
    background-image: url("../picture/v5-1/yuan2.png");
}
.btn2-2{
    position: relative;
    float: left;
    width: 16.5%;
    height: 70%;
}
.btn2-3{
    position: relative;
    float: right;
    width: 22.5%;
    height: 70%;
    background-color: #ce8483;
}
#input-yes{
    background-image: url("../picture/v5-1/btnyes.png");
    background-repeat: no-repeat;
    background-position: right;
    width: 35px;
    height: 35px;
}
#input-no{
    background-image: url("../picture/v5-1/btnno.png");
    background-repeat: no-repeat;
    background-position: right;
    width: 35px;
    height: 35px;
}
.btn2-4{
    width: 100%;
    position: relative;
    float: left;
    height: 80px;
}
.btn2-4-1{
    position: relative;
    float: left;
    width: 18%;
    margin-right: 9.3%;
    height: 80px;
}
#last-btn2-4-1{
    margin-right: 0px;
}
h1{text-align:center;}
.demo1{width:160px;margin:20px auto;border:1px solid red;height:27px;border-radius: 5px}
.demo1 em,.demo1 span{display:block;width:30px;height:16px;font-size:30px;overflow:hidden;_position:relative;margin-left:63px;}
.demo1 em{margin-top:-16px;color:red;font-style:normal;}
.demo1 span{margin-top:-14px;color:white;}
#t1{background-color: rgb(240,245,226);border-color:rgb(210,226,168)}
#t1 span{color: rgb(240,245,226)}
#t1 em{color:rgb(210,226,168)}
#t2{background-color: rgb(254,244,226);border-color:rgb(251,222,166)}
#t2 span{color: rgb(254,244,226)}
#t2 em{color:rgb(251,222,166)}
#t3{background-color: rgb(245,229,235);border-color:rgb(226,176,195)}
#t3 span{color: rgb(245,229,235)}
#t3 em{color:rgb(226,176,195)}
#t4{background-color: rgb(237,233,247);border-color:rgb(201,187,231)}
#t4 span{color: rgb(237,233,247)}
#t4 em{color:rgb(201,187,231)}
.demo1 p{font-size: smaller;color: rgb(129,125,118);margin-top: 4.5px;text-align: center;}
.percent{
    position:absolute;
    top: 1400px;
    width: 811px;
    height: 100px;
    left: 270px;
}
.percent-img{
    width: 55px;
    height: 55px;
    position: relative;
    top: 45px;
    float: left;
    margin-right: 52.5px;
    border-radius: 27.5px;
}
#percent-last{
    margin-right: 0px;
}
.percent-img p{
    position: absolute;
    text-align: center;
    color: rgb(253,244,242);
    top: 7px;
    margin-left: 10px;
}
.last-pre{
    position: absolute;
    top: 1550px;
    width:1089px;
    left: 135px;
    height: 50px;
    border-radius: 5px;
}
.last-pre-pre{
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    background-color: rgb(255,255,255);
    border-radius: 5px;
}
.last-pre-next{
    position: relative;
    float:right;
    width: 50px;
    height: 50px;
    background-color: rgb(255,255,255);
    border-radius: 5px;
}
.last-in{
    position: relative;
    float: left;
    width: 950px;
    height: 55px;
    margin-left: 18px;
}
.line{
    position: relative;
    width: 382px;
    height: 2px;
    background-color: rgb(215,215,215);
    top: 23px;
}
.last{
    position: absolute;
    top: 1640px;
    width: 1089px;
    left: 135px;
    height: 280px;
    border-radius: 5px;
}
.last-1{
    position: relative;
    float: left;
    margin-right: 94px;
    width: 197px;
    height: 100%;
    border: 1px solid rgb(237,237,237);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 1px 1px rgb(217,217,217);
}
.last-1-img{
    position: relative;
    width: 197px;
    height: 195px;
}
.eye{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../picture/v5-1/eye.png");
    opacity: 0.7;
}
.sale{
    position: absolute;
    width: 53px;
    height: 23px;
    left: 146px;
    top: 10px;
    background-image: url("../picture/v5-1/sale1.png");
}
.last-1-text{
    position: relative;
    width: 197px;
    height: 26px;
}
.money{
    position: relative;
    padding-top: 7px;
    float: left;
    height: 24px;
    width: 50%;
    border-radius: 5px;
    font-size: large;
}
.btn-money{
    color: #8c8c8c;
    width: 49%;
    position: relative;
    float: left;
    height: 32px;
    text-align: left;
    font-size: 5px;
    background-color: rgb(249,249,249);
    border: 1px solid silver;
    border-radius: 5px;
}
.rea{
    position: absolute;
    top: 1920px;
    width: 80%;
    left: 135px;
    height: 50px;
}
